<!DOCTYPE html>
<html>
  <head>
    <title>Classificados</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p>      
      <% if flash.notice %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash.alert %>
        <div class="alert"><%= flash[:alert] %></div>
      <% end %>
    </p>
    
    <nav>
      <% if user_signed_in? %>
        <%= button_to t("menus.sair"), logout_sessions_path, method: :delete %>
        <%= link_to t("menus.novo"), new_ad_path %>
      <% else %>
        <%= link_to t("menus.cadastrese"), new_user_path %>
        <%= link_to t("menus.entrar"), new_session_path %>
      <% end if %>
    </nav>
  
    <%= yield %>
  </body>
</html>
